.product-container {
  width: 300px;
  height: 500px;
  border-radius: 8px;
  border: 1px solid #95a0a7;
  position: relative;
}
.product-container img {
  width: 286px;
  height: 286px;
  border-radius: 8px;
  border: 1px solid #95a0a7;
  margin: 6px;
}
.product-info {
  padding: 5px 15px;
}
.product-info h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  margin: 0px;
  color: #0e161a;
}
.product-info h5 {
  margin: 0px;
  font-weight: 400;
  font-size: 17px;
  color: #0e161a;
}
.manufacture-rating {
  margin-top: 15px;
}
.manufacture-rating p {
  margin: 0px;
  font-weight: 400;
  font-size: 12px;
}
.add-to-cart-btn button {
  position: absolute;
  width: 100%;
  background: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.add-to-cart-btn button:hover {
  background-color: orange;
}
