.order-product {
  padding: 0 20px;
}
.product-items {
  font-weight: 500;
  font-size: 17px;
}
.order-product p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #2a414f;
}
.grand-totall {
  color: #0e161a;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.clear-btn {
  width: 100%;
  background: #ff3030;
  border-radius: 4px;
  color: white;
  margin-bottom: 15px;
  margin-top: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.clear-btn:hover {
  background: #ff3030c0;
  color: #ffffff;
}
.review-order-btn {
  width: 100%;
  background: #ff9900;
  border-radius: 4px;
  color: #ffff;
}
